<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	
	<meta name="description" content="Web - TP3 _ Jeu Mémory LoL">
	<meta name="author" content="Guilhem SUSA">
	<link rel="icon" href="images/League_of_legends_Icon.ico">
    <title>Lol Memory - Web _ TP3</title>

    <!-- Bootstrap Core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" type="text/css" href="styles.css"> -->


    <!-- Custom CSS     -->
    <link rel="stylesheet/less" type="text/css" href="style.less">


    <!-- Custom Less    
    <script src="less.min.js" data-poll="1000" data-relative-urls="false"></script> --> 
    <script src="less.min.js" data-poll="1000" data-relative-urls="true"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

	
	<script src="./node_modules/angular/angular.js"></script>
	<script src="./node_modules/angular-resource/angular-resource.js"></script>
    <script src="./memory.js"></script>
</head>

<body>
<div ng-app="memory" ng-controller="memoryController">

   <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
            
                <a class="navbar-brand" href="#">LOL mémo</a>
            </div>

        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row" >
            <div class="col-lg-4 col-md-4 col-xs-6 thumb" ng-repeat="champ in ret">
                <a class="thumbnail" href="#" ng-click="jeuMemory('{{champ.name}}_{{champ.skin}}')">
                    <img id = "{{champ.name}}_{{champ.skin}}" class="img-responsive" src="https://ddragon.leagueoflegends.com/cdn/img/champion/splash/{{champ.name}}_{{champ.skin}}.jpg" alt="{{champ.name}}_{{champ.skin}}">
                    <div class="champName">{{champ.name}}</div> 
                </a>
			</div>
        </div>  
		
        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Web2 L3 UT2J</p>
                </div>
            </div>
        </footer>

    </div>

</div>
    <!-- /.container -->

    <!-- jQuery -->
    <script
  src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
  integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc="
  crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>

</html>