body{
	background-image: url("./images/backgroundLol.jpg");
	size:100%;
}

.game .footer{
	background-color: #f2f2f2;
}

h1{
	background-color:#f2f2f2;
}

navbar-header{
	
}

/*
balises image : 
généré avec bgCard
quand lcick pick random dan tableau de chaine des nom.jpg
*/
